RewriteCond %{SERVER_PORT} ^443$ [OR] 
RewriteCond %{HTTPS} On  
RewriteCond %{HTTP_HOST} ^(www.)?adeildocristianohostinger.net$ [NC] 
RewriteRule ^(.*)$ https://adeildocristianohostinger.net [L,R=301]